<h1>Add a Perfume to Your Collection</h1>
  <%= form_with model: @perfume, local: true do |f|  %>
    <% if @perfume.errors.any? %>
      <div id="explain_error">
        <h2> Uh oh! <%= pluralize(@perfume.errors.count, "error") %> prohibited this perfume from being saved: </h2>
        <ul>
          <% @perfume.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

    <%= f.label "Perfume Name:" %>
    <%= f.text_field :name %>
    <br>
    <%= f.label "Description:" %>
    <%= f.text_area :description %>
    <br>
    <%= f.label "Brand:" %>
    <%= f.collection_select :brand_id, Brand.order(:name), :id, :name%>    
    <br>

    <%= f.label "Size:" %>
    <%= f.select :size, %w[sample dram full-size other] %>
    <br>
    <%= f.label "Season:" %>
    <%= f.select :season, %w[spring summer fall winter] %>
    <br>

  <%= f.submit%>
  <% end %>
